POSTGRES_DB=eits_monitor
POSTGRES_USER=eits
POSTGRES_PASSWORD=change-this-database-password
SECRET_KEY=replace-with-at-least-64-random-characters
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMeNow!2026
AGENT_ENROLLMENT_TOKEN=replace-with-a-long-random-enrollment-token
WEB_PORT=8088
METRIC_RETENTION_DAYS=30
